<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">

    <div class="post-card-content-about">
		   <header class="post-card-header">
                {{#if primary_tag}}
                    {{#primary_tag}}
                    <div class="post-card-primary-tag">{{name}}</div>
                    {{/primary_tag}}
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
            </header>

            <section class="post-card-excerpt">
                {{#if feature_image}}
                    <p>{{excerpt words="200"}}</p>
                {{else}}
                    <p>{{excerpt words="200"}}</p>
                {{/if}}
            </section>
			
			<table style="border-spacing:10px;border-collapse:separate;padding:0;">
                   <tr>
					   <td><a href="https://mvp.microsoft.com/en-us/PublicProfile/4025491"><img alt="MVP logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/common/MVP_Logo_Avatar_Preferred_Cyan300_CMYK_300ppi.png" style="width:60px;height:60px;"></a></td>
                       <td><a href="https://www.codeproject.com/Members/ProudMonkey"><img alt="CPMVP logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/common/icn-MVP-64.png" /></td>
                       <td><a href="https://www.codeproject.com/Members/ProudMonkey"><img alt="CPMVA logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/Common/icn-MVA-64.png" /></td>
                       <td><a href="https://www.codeproject.com/Members/ProudMonkey"><img alt="CPMVE logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/Common/icn-MVE-64.png" /></td>
					   <td><a href="https://www.c-sharpcorner.com/members/vincent-maverick-durano"><img alt="CSHARPCORNER logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/common/CSharpCornerMVP.png" style="width:92px;height:60px;" />	</td>
					   <td><img alt="NETFOUNDATION logo" src="https://proudmonkeystorage.blob.core.windows.net/cdn/common/1200px-.NET_Foundation_Logo.svg.png" style="width:60px;height:60px;"/></td>
                   </tr>
            </table>
			
	</div>{{!--/.post-card-content--}}
	
		{{#if feature_image}}
			<div style="margin-left:200px;">
					 <img style="border-radius: 50%;"
					srcset="{{img_url feature_image size="s"}} 300w,
							{{img_url feature_image size="m"}} 600w,
							{{img_url feature_image size="l"}} 1000w,
							{{img_url feature_image size="xl"}} 2000w"
					sizes="(max-width: 1000px) 400px, 700px"
					loading="lazy"
					src="{{img_url feature_image size="m"}}"
					alt="{{title}}"

				   <iframe src="https://github.com/sponsors/proudmonkey/button" title="Sponsor proudmonkey" height="35" width="116" style="border: 0;"></iframe>
			</div>
		{{/if}}
</article>
